<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@*<script src="~/Scripts/advert.js"></script>*@  

<div class="container">
    <h2>Employees Record</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Advert</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    VehicleModelId
                </th>
                <th>
                    Year
                </th>
                <th>
                    Price
                </th>
                <th>
                    Power
                </th>
                <th>
                    DistanceCoverage
                </th>
                <th>
                    CityId
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Add Advert</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Title">Title</label>
                        <input type="text" class="form-control" id="Title" placeholder="Title" />
                    </div>
                    <div class="form-group">
                        <label for="VehicleModelId">VehicleModelId</label>
                        <input type="text" class="form-control" id="VehicleModelId" placeholder="VehicleModelId" />
                    </div>
                    <div class="form-group">
                        <label for="Year">Year</label>
                        <input type="text" class="form-control" id="Year" placeholder="Year" />
                    </div>
                    <div class="form-group">
                        <label for="Price">Price</label>
                        <input type="text" class="form-control" id="Price" placeholder="Price" />
                    </div>
                    <div class="form-group">
                        <label for="Power">Power</label>
                        <input type="text" class="form-control" id="Power" placeholder="Power" />
                    </div>
                    <div class="form-group">
                        <label for="DistanceCoverage">DistanceCoverage</label>
                        <input type="text" class="form-control" id="DistanceCoverage" placeholder="DistanceCoverage" />
                    </div>
                    <div class="form-group">
                        <label for="CityId">CityId</label>
                        <input type="text" class="form-control" id="CityId" placeholder="CityId" />
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input type="text" class="form-control" id="Description" placeholder="Description" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>  

<script>
    //Load Data in Table when documents is ready  
    $(document).ready(function () {
        loadData();
    });

    //Load Data function  
    function loadData() {
        $.ajax({
            url: "/AjaxAdmin/List",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.Title + '</td>';
                    html += '<td>' + item.VehicleModelId + '</td>';
                    html += '<td>' + item.Year + '</td>';
                    html += '<td>' + item.Price + '</td>';
                    html += '<td>' + item.Power + '</td>';
                    html += '<td>' + item.DistanceCoverage + '</td>';
                    html += '<td>' + item.CityId + '</td>';
                    html += '<td>' + item.Description + '</td>';
                    html += '<td><a href="#" onclick="return getbyID(' + item.Id + ')">Edit</a> | <a href="#" onclick="Delele(' + item.Id + ')">Delete</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Add Data Function   
    function Add() {
        var res = validate();
        if (res === false) {
            return false;
        }

        var advertObj = {
            Title: $('#Title').val(),
            VehicleModelId: $('#VehicleModelId').val(),
            Year: $('#Year').val(),
            Price: $('#Price').val(),
            Power: $('#Power').val(),
            DistanceCoverage: $('#DistanceCoverage').val(),
            CityId: $('#CityId').val(),
            Description: $('#Description').val()
        };

        $.ajax({
            url: "/AjaxAdmin/Add",
            data: JSON.stringify(advertObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                loadData();
                $('#myModal').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for getting the Data Based upon Employee ID  
    function getbyID(EmpID) {
        $('#Name').css('border-color', 'lightgrey');
        $('#Age').css('border-color', 'lightgrey');
        $('#State').css('border-color', 'lightgrey');
        $('#Country').css('border-color', 'lightgrey');
        $.ajax({
            url: "/Home/getbyID/" + EmpID,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#EmployeeID').val(result.EmployeeID);
                $('#Name').val(result.Name);
                $('#Age').val(result.Age);
                $('#State').val(result.State);
                $('#Country').val(result.Country);

                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    //function for updating employee's record  
    function Update() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var empObj = {
            EmployeeID: $('#EmployeeID').val(),
            Name: $('#Name').val(),
            Age: $('#Age').val(),
            State: $('#State').val(),
            Country: $('#Country').val(),
        };
        $.ajax({
            url: "/Home/Update",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                loadData();
                $('#myModal').modal('hide');
                $('#EmployeeID').val("");
                $('#Name').val("");
                $('#Age').val("");
                $('#State').val("");
                $('#Country').val("");
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //function for deleting employee's record  
    function Delele(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/Home/Delete/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

    //Function for clearing the textboxes  
    function clearTextBox() {
        $('#Title').val("");
        $('#VehicleModelId').val("");
        $('#Year').val("");
        $('#Price').val("");
        $('#Power').val("");
        $('#DistanceCoverage').val("");
        $('#CityId').val("");
        $('#Description').val("");

        $('#btnUpdate').hide();
        $('#btnAdd').show();

        $('#Title').css('border-color', 'lightgrey');
        $('#VehicleModelId').css('border-color', 'lightgrey');
        $('#Year').css('border-color', 'lightgrey');
        $('#Price').css('border-color', 'lightgrey');
        $('#Power').css('border-color', 'lightgrey');
        $('#DistanceCoverage').css('border-color', 'lightgrey');
        $('#CityId').css('border-color', 'lightgrey');
        $('#Description').css('border-color', 'lightgrey');
    }
    //Valdidation using jquery                                        ---------------------------------- validation -----------------
    function validate() {
        var isValid = true;
        if ($('#Title').val().trim() == "") {
            $('#Title').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Title').css('border-color', 'lightgrey');
        }
        if ($('#VehicleModelId').val().trim() == "") {
            $('#VehicleModelId').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#VehicleModelId').css('border-color', 'lightgrey');
        }
        if ($('#Year').val().trim() == "") {
            $('#Year').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Year').css('border-color', 'lightgrey');
        }
        if ($('#Price').val().trim() == "") {
            $('#Price').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Price').css('border-color', 'lightgrey');
        }
        if ($('#Power').val().trim() == "") {
            $('#Power').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Power').css('border-color', 'lightgrey');
        }
        if ($('#DistanceCoverage').val().trim() == "") {
            $('#DistanceCoverage').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#DistanceCoverage').css('border-color', 'lightgrey');
        }
        if ($('#CityId').val().trim() == "") {
            $('#CityId').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#CityId').css('border-color', 'lightgrey');
        }
        if ($('#Description').val().trim() == "") {
            $('#Description').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Description').css('border-color', 'lightgrey');
        }
        return isValid;
    }
</script>