<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="container">
    <h2>Employees Record</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Advert</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    VehicleModelId
                </th>
                <th>
                    Year
                </th>
                <th>
                    Price
                </th>
                <th>
                    Power
                </th>
                <th>
                    DistanceCoverage
                </th>
                <th>
                    CityId
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Add Advert</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Title">Title</label>
                        <input type="text" class="form-control" id="Title" placeholder="Title" />
                    </div>
                    <div class="form-group">
                        <label for="VehicleModelId">VehicleModelId</label>
                        <input type="text" class="form-control" id="VehicleModelId" placeholder="VehicleModelId" />
                    </div>
                    <div class="form-group">
                        <label for="Year">Year</label>
                        <input type="text" class="form-control" id="Year" placeholder="Year" />
                    </div>
                    <div class="form-group">
                        <label for="Price">Price</label>
                        <input type="text" class="form-control" id="Price" placeholder="Price" />
                    </div>
                    <div class="form-group">
                        <label for="Power">Power</label>
                        <input type="text" class="form-control" id="Power" placeholder="Power" />
                    </div>
                    <div class="form-group">
                        <label for="DistanceCoverage">DistanceCoverage</label>
                        <input type="text" class="form-control" id="DistanceCoverage" placeholder="DistanceCoverage" />
                    </div>
                    <div class="form-group">
                        <label for="CityId">CityId</label>
                        <input type="text" class="form-control" id="CityId" placeholder="CityId" />
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input type="text" class="form-control" id="Description" placeholder="Description" />
                    </div>
                    <div class="form-group hidden">
                        <label for="UserId">UserId</label>
                        <input type="text" class="form-control" id="UserId" placeholder="UserId" />
                    </div>
                    <div class="form-group hidden">
                        <label for="Id">Id</label>
                        <input type="text" class="form-control" id="Id" placeholder="Id" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>  

@section Scripts {
    @Scripts.Render("~/bundles/admin")
}